.menu-items{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 1.5rem;
    margin-left: 15%;
}

.menu-item{
    border: 1px;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
    background-color: orange;
    width: 400px;
}

.menu-item:hover{
    transform: scale(1.02);
}

.menu-item img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    height: 350px;
    
}

.menu-item h4{
    margin: 0.5rem 0 0.2rem;
}

.menu-item p{
    color: aliceblue;
    font-weight: bold;
}

header{
    text-align: center;
    font-size: 85px;
     background-color: yellow;
     text-decoration: underline;
}

h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    text-decoration-line: underline;
}


h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
    font-size: 76px;
}






@media(max-width:768px){
header{
flex-direction: column;
align-items: flex-start;
}

nav ul{
    flex-direction: column;
    gap: 0.5rem;
}

.hero h2{
    font-size: 2rem;
}

.hero p{
    font-size: 1rem;
}
}

